/* Aplica estilos a todos los elementos */
* {
  /* Elimina cualquier margen predeterminado de todos los elementos */
  margin: 0;

  /* Elimina cualquier relleno (padding) predeterminado de todos los elementos */
  padding: 0;

  /* Establece el modelo de caja para que el ancho y el alto del elemento incluyan el borde y el relleno */
  box-sizing: border-box;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(239, 239, 239);
  width: 100%;
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh;
}

/* NAV */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  width: 100%;
  height: 100%;
}

/* MAIN */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 70vh;
}

/* FOOTER */
footer {
  background-color: rgb(0, 99, 92);
  width: 100%;
  height: 15vh;
}

/* MEDIA QUERY PARA DISPOSITIVO MOVIL */
@media (min-width: 320px) and (max-width: 576px) {
  /* NAV */
  .nav-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
  }
  .nav-inicio h3 {
    display: none;
  }
  .open-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 99, 92);
    border-radius: 10px 0 0 10px;
    position: absolute;
    z-index: 10;
    margin-left: 60%;
    top: 0;
    width: 40%;
    height: 100vh;
  }
  .close-items {
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    color: #005b4a;
    border-radius: 15px;
    font-size: 0.7rem;
    font-weight: 600;
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    list-style-type: none;
    width: 85%;
    height: 40px;
  }

  /* MAIN */
  /* TITULO CONTAINER */
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
  }
  .title-container h4 {
    color: rgb(0, 99, 92);
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: "Rokkitt", serif;
  }
  /* CONTENEDOR DE VALORES */
  .container-values {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    width: 100%;
    height: 40%;
  }
  .card-dolar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(239, 239, 239);
    color: rgb(0, 99, 92);
    border-radius: 10px;
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    width: 90%;
    height: 60%;
  }
  .card-dolar section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px rgb(0, 99, 92);
    border-radius: 15px;
    width: 95%;
    height: 40%;
  }
  .card-dolar p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rokkitt", serif;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 30%;
    height: 70%;
  }
  .card-dolar span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: rgb(239, 239, 239);
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 800;
    letter-spacing: 2px;
    width: 35%;
    height: 70%;
  }
  /* BOTON PARA MOSTRAR LA INFORMACION DEL DOLAR */
  .container-values button {
    color: rgb(0, 99, 92);
    border-radius: 10px;
    font-family: "Rokkitt", serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 30%;
    height: 20%;
  }
  /* CONTENEDOR DE INFO DOLAR */
  .info-container {
    display: none;
    justify-content: center;
    align-items: center;
    background: rgb(239, 239, 239);
    position: absolute;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100vh;
  }
  .info-container button {
    background-color: red;
    border: none;
    border-radius: 50%;
    position: absolute;
    margin-left: 85%;
    margin-bottom: 90vh;
    width: 30px;
    height: 30px;
  }
  .info-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: rgb(0, 99, 92);
    font-family: "Rokkitt", serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3;
    width: 90%;
    height: auto;
  }
  /* CONTENEDOR DE CALCULADORA */
  .calculadora-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .calculadora-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: rgb(239, 239, 239);
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5px;
    width: 90%;
    height: 40px;
  }
  .calculadora-container input {
    text-align: center;
    border: solid 2px rgb(0, 99, 92);
    height: 30px;
    width: 70%;
  }
  .calculadora-container input::placeholder {
    color: rgb(0, 99, 92);
    text-transform: uppercase;
    font-family: "Rokkitt", serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .calculadora-container button {
    background-color: rgb(0, 99, 92);
    color: rgb(239, 239, 239);
    border: none;
    font-family: "Rokkitt", serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 10px;
    width: 45%;
    height: 25px;
  }
  .calculadora-container span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 99, 92);
    border: solid 2px rgb(0, 99, 92);
    text-transform: uppercase;
    font-family: "Rokkitt", serif;
    font-weight: 600;
    font-size: 1rem;
    height: 30px;
    width: 70%;
  }
}

/* MEDIA QUERY PARA TABLETS */
@media (min-width: 577px) and (max-width: 992px) {
  /* NAV */
  .nav-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100%;
  }
  .nav-inicio i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .nav-inicio h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 99, 92);
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    width: 100%;
    height: 40%;
  }
  .open-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100%;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    border-radius: 10px 0 0 10px;
    position: absolute;
    z-index: 10;
    margin-left: 60%;
    top: 0;
    width: 40%;
    height: 100vh;
  }
  .close-items {
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 239, 239);
    color: rgb(0, 99, 92);
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    width: 80%;
    height: 40px;
  }
  /* MAIN */

  /* TITULO CONTAINER */
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 10%;
  }
  .title-container h4 {
    color: rgb(0, 99, 92);
    text-transform: uppercase;
    font-family: "Rokkitt", serif;
    font-size: 2rem;
  }

  /* CONTENEDOR DE VALORES */
  .container-values {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    width: 100%;
    height: 40%;
  }
  .card-dolar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(239, 239, 239);
    color: rgb(0, 99, 92);
    border-radius: 10px;
    font-family: "Rokkitt", serif;
    text-transform: uppercase;
    width: 90%;
    height: 60%;
  }
  .card-dolar section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px rgb(0, 99, 92);
    border-radius: 15px;
    width: 95%;
    height: 40%;
  }
  .card-dolar p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Rokkitt", serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 30%;
    height: 70%;
  }
  .card-dolar span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: rgb(239, 239, 239);
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 800;
    letter-spacing: 2px;
    width: 30%;
    height: 70%;
  }

  /* BOTON PARA MOSTRAR LA INFORMACION DEL DOLAR */
  .container-values button {
    color: rgb(0, 99, 92);
    border-radius: 10px;
    font-family: "Rokkitt", serif;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 30%;
    height: 20%;
  }

  /* CONTENEDOR DE CALCULADORA */
  .calculadora-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px rgb(0, 99, 92);
    width: 100%;
    height: 40%;
  }
  .dolar-info {
    display: none;
  }
}

/* MEDIA QUERY PARA TABLETS HORIZONTAL, NOTEBOOKS, MONITORES */
@media (min-width: 993px) and (max-width: 1200px) {
  /* NAV */
  .nav-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 10%;
  }
  .nav-inicio i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .nav-inicio h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 99, 92);
    text-transform: uppercase;
    width: 100%;
    height: 40%;
  }
  .open-items {
    display: none;
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
  }
  .close-items {
    display: none;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: rgb(239, 239, 239);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.7rem;
    white-space: nowrap;
    cursor: pointer;
    width: 120px;
    height: 50%;
  }
  .nav-items li:hover {
    background-color: rgb(239, 239, 239);
    color: rgb(0, 99, 92);
    outline: solid 2px rgb(0, 99, 92);
  }
}

/* MEDIA QUERY PARA MONITORES GRANDES Y ULTRA-WIDE */
@media (min-width: 1201px) {
  /* NAV */
  .nav-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 10%;
  }
  .nav-inicio i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .nav-inicio h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 99, 92);
    text-transform: uppercase;
    width: 100%;
    height: 40%;
  }
  .open-items {
    display: none;
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
  }
  .close-items {
    display: none;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    color: rgb(239, 239, 239);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    white-space: nowrap;
    cursor: pointer;
    width: 150px;
    height: 60%;
  }
  .nav-items li:hover {
    background-color: rgb(239, 239, 239);
    color: rgb(0, 99, 92);
    outline: solid 2px rgb(0, 99, 92);
  }

  /* MAIN */

  /*  */
}
