/* Aplica estilos a todos los elementos */
* {
  /* Elimina cualquier margen predeterminado de todos los elementos */
  margin: 0;

  /* Elimina cualquier relleno (padding) predeterminado de todos los elementos */
  padding: 0;

  /* Establece el modelo de caja para que el ancho y el alto del elemento incluyan el borde y el relleno */
  box-sizing: border-box;
}

/* BODY */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 99, 92);
  margin-bottom: 10px;
  width: 100%;
  height: 10vh;
}

/* MAIN */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px blue;
  width: 100%;
  height: 70vh;
}

.container-values {
  border: solid 4px rgb(255, 132, 0);
  width: 80%;
  height: 30%;
}

/* FOOTER */
footer {
  border: solid 3px black;
  margin-top: 10px;
  width: 100%;
  height: 15vh;
}

/* MEDIA QUERY PARA DISPOSITIVO MOVIL */
@media (min-width: 320px) and (max-width: 576px) {
  /* NAV */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
  }
  .nav-inicio h3 {
    display: none;
  }
  .open-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100%;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    position: absolute;
    z-index: 10;
    margin-left: 60%;
    top: 10vh;
    width: 40%;
    height: 90vh;
  }
  .close-items {
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(0, 99, 92);
    border-radius: 15px;
    font-size: 0.6rem;
    font-weight: 600;
    text-transform: uppercase;
    list-style-type: none;
    width: 80%;
    height: 40px;
  }
}
/* MEDIA QUERY PARA TABLET */
@media (min-width: 577px) and (max-width: 992px) {
  /* NAV */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 100%;
  }
  .nav-inicio i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .nav-inicio h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 40%;
  }
  .open-items {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 99, 92);
    width: 90px;
    height: 100%;
  }
  .nav-items {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 99, 92);
    position: absolute;
    z-index: 10;
    margin-left: 60%;
    top: 9vh;
    width: 40%;
    height: 91vh;
  }
  .close-items {
    background-color: red;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: rgb(0, 99, 92);
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 80%;
    height: 40px;
  }
}

/* MEDIA QUERY PARA (LAPTOPS PEQUEÑAS, TABLETS GRANDES) */
@media (min-width: 993px) and (max-width: 1199px) {
  /* NAV */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
  }
  .nav-inicio i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .nav-inicio h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 40%;
  }
  .open-items {
    display: none;
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px white;
    width: 75%;
    height: 100%;
  }
  .close-items {
    display: none;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    outline: solid 2px white;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 0.7rem;
    white-space: nowrap;
    width: 15%;
    height: 40%;
  }
  .nav-items li:hover {
    background-color: white;
    color: rgb(0, 99, 92);
    outline: none;
  }
}

/* MEDIA QUERY PARA DISPOSITIVOS GRANDES (NOTEBOOKS, PC) */
@media (min-width: 1200px) {
  /* NAV */
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .nav-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 10%;
  }
  .nav-inicio i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40%;
  }
  .nav-inicio h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
    width: 100%;
    height: 40%;
  }
  .open-items {
    display: none;
  }
  .nav-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 100%;
  }
  .close-items {
    display: none;
  }
  .nav-items li {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    outline: solid 2px white;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 0.9rem;
    white-space: nowrap;
    cursor: pointer;
    width: 140px;
    height: 60%;
  }
  .nav-items li:hover {
    background-color: white;
    color: rgb(0, 99, 92);
    outline: none;
  }
}
